.Header{
    width: 100%;
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.315);
}

.Header p, a{
    background-image: linear-gradient(to bottom, rgb(54, 73, 247),rgb(24, 4, 172));
    background-clip: text;
    font-weight: 500;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent ;
}

.menu{
    display: inline-flex;
}

.menu a{
    display: flex;
    font-size: 20px;
    align-items: center;
    margin: 10px;
}

.Header a:hover,.Header p:hover{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0),rgb(254, 254, 254));
    cursor: pointer;
}

.Brand p{
    margin: 10px 2.5px;
    font-size: 20px;
    
}

.Brand{
    padding: 8px;
}

.menu2{
    display: none;
}

.menu2 img{
    width: 30px;
    margin: 10px;
    margin-top:19px;
}

@media (max-width:768px){ 
    .menu{
        display:none;
    }
    .menu2{
        display: block;
    }
}
