.Header{
    width: 100%;
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.315);
}

.menu{
    display: inline-flex;
}

.menu a{
    display: flex;
    font-size: 20px;
    align-items: center;
    margin: 10px;
}

a:hover, p:hover{
    color: blue;
    cursor: pointer;
}

.Brand p{
    margin: 10px 2.5px;
    font-size: 20px;
    
}

.Brand{
    padding: 8px;
}


