@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Noto+Serif+Display:wght@800&family=Oswald:wght@500&display=swap');

:root {
    --cor0: #703A3A;
    --cor1: #B80202;
    --cor2: #E80202;
    --cor3: #FF7878;
    --cor4: #690101;
    --cor5: #0E679E;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --fonte-padrao: 'Oswald', sans-serif;;
    --fonte-destaque: 'Noto Serif Display', serif;
    --fonte-titulo: 'Cinzel', serif;;
}

*{
    margin: 0 auto;
    padding: 0;
}

body{
    background-color: #99636359;
}

header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color:var(--cor4);
    text-align: center;
    box-shadow: black 1px 1px 4px;
}

header>h1{
    display: inline-flex;
    font-size: 5vw;
    font-family: var(--fonte-padrao);
}
header>nav{
    width: 100%;
    font-family: var(--fonte-padrao);
}

header>nav>a>h2.active{
    color: white;
}

header>nav>a{   
    display: inline-flex;
    padding-left:1vw;
    font-size: 1.8vw;
    color: black;
    text-decoration: none;
    padding-bottom: 13px;
}

header>nav>button{
    background-color: #0e679e00;
    border: none;
    box-shadow: black 0px 0px 0px ;
    margin-right: 10px;
}

header>nav>button>img{
    border-radius: 50%;
    margin-bottom: -0.8vw;
    border-radius: 50%;
    width: 3vw;
}
header>nav>button>img:hover{
    background-color: white;
}

header>span>img{
    margin-top: 10px;
    width: 3vw;

}

header>nav>a:hover{
    color: white;
}

.form-control {
    display: block;
    margin: 10px auto;
    width: 90%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: whitesmoke;
    border: var(--cor0) solid var(--cor1);
    border-radius: 2px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button-contact{
    --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

section#contato{
    padding-right: 20px;
}

/* 
main{
    text-align: center;
}

main>section{
    width: 85%;
    border-radius: 1px;
    box-shadow: black 1px 1px 3px;
    background-size: cover;
    background-repeat: no-repeat;
}
main>section.ilha{
    background-image: url("../Imagens/foto_ilha.jpg");
    background-position: center center;
    margin: 20px auto;
    height: 400px;
}   
main>section.foto1{
    background-image: url("../Imagens/foto_exercito.jpg");
    background-position: right center;
    margin: 20px auto;
    height: 600px;
}   

main>section.foto2{
    background-image: url("../Imagens/foto_mao.jpg");
    background-position: center center;
    margin: 20px auto;
    height: 600px;
}
main>section.foto3{
    background-image: url("../Imagens/foto_seguranca1.jpg");
    background-position: center center;
    margin: 20px auto;
    height: 800px;
}
main>section.VSPP{
    background-image: url("../Imagens/foto_seguranca2.jpg");
    background-position: center center;
    margin: 20px auto;
    height: 800px;
}
main>section.podio1{
    background-image: url("../Imagens/podio1.jpg");
    background-position: center center;
    margin: 20px auto;
    height: 490px;
}
main>section.olavo{
    background-image: url("../Imagens/foto_olavo.jpg");
    background-position: right center;
    margin: 20px auto;
    height: 800px;
}
main>section.mundial{
    background-image: url("../Imagens/foto_mundial1.jpg");
    background-position: right center;
    margin: 20px auto;
    height: 600px;
}

main>section.foto4{
    border: black 1px solid;
    background-image: url("../Imagens/Campeonato1.jpg");
    background-position: center center;
    margin: 20px auto;
    height: 300px;
}

main>h2{
    font-family: var(--fonte-titulo);
    margin-top: 40px;
    font-size: 3vw;
    background-color: var(--cor4);
    width: 83%;
    color: white;
    margin-bottom: 3vw;
}

main>div{
    width: 95%;
    margin: 3vw auto;
    box-shadow: black 1px 1px 4px;
    background-color: white;
    padding: 30px;
}

main>div>p{
    text-align: justify;
    font-size: 3vw;
    text-indent: 3vw;
    padding: 5px;
}

footer{
    background-color: black;
    font-size: 3vw;
    box-shadow: black 1px -1px 4px;
    padding: 10px;
    font-family: var(--fonte-titulo);
    color: rgba(129, 129, 129, 0.979);
}

footer>p>a{
    text-decoration: none;
    color: #aa0303e0;
}

footer>p>a:hover{
    font-size: 110%;
} */